<div  ng-controller="GraphController as $ctrl">
    <div release-header>
        <div style="display: inline;">
            <span class="relationship-toolbar-label">Layout Direction </span>
            <select ng-model="$ctrl.settings.layoutDirection" class="button dropdown-button" ng-change="$ctrl.layoutChanged()">
                <option value="TB">Top Bottom</option>
                <option value="BT">Bottom Top</option>
                <option value="LR">Left Right</option>
                <option value="RL">Right Left</option>
            </select>
            <span class="relationship-toolbar-label">Alignment </span>
            <select ng-model="$ctrl.settings.layoutAlign" class="button dropdown-button" ng-change="$ctrl.layoutChanged()">
                <option value="UL">Up Left</option>
                <option value="UR">Up Right</option>
            </select>
            <span class="relationship-toolbar-label">Zoom </span>
            <button class="btn btn-flat" ng-click="$ctrl.zoomIn()">-</button>
            <button class="btn btn-flat" ng-click="$ctrl.zoomOut()">+</button>
            <span class="relationship-toolbar-showhide-label">Title&nbsp;&nbsp;<input type="checkbox" ng-model="$ctrl.settings.showTitle" ng-change="$ctrl.showHideLabels()"></input></span>
            <span class="relationship-toolbar-showhide-label">Label&nbsp;&nbsp;<input type="checkbox" ng-model="$ctrl.settings.showLabel" ng-change="$ctrl.showHideLabels()"></input></span>
            <button class="btn btn-flat pull-right" style="" ng-click="$ctrl._initGraphData()">Reload</button>

        </div>
    </div>
    <div class="content-under-header">
        <div class="relationship-legend-bar">
            <span><img src="static/7.0/relationships/img/pin.svg" class="relationship-legend-icon"/><span class="relationship-legend">Current {{$ctrl.currentStart}}</span></span>
            <span ng-if="$ctrl.currentStart != 'template'">
                <img src="static/7.0/relationships/img/release.svg" class="relationship-legend-icon"/><span class="relationship-legend">Release in progress</span>
                <img src="static/7.0/relationships/img/failedrelease.svg" class="relationship-legend-icon"/><span class="relationship-legend">Failed release</span>
                <img src="static/7.0/relationships/img/completerelease.svg" class="relationship-legend-icon"/><span class="relationship-legend">Completed release</span>
            </span>
            <span><img src="static/7.0/relationships/img/template.svg" class="relationship-legend-icon"/><span class="relationship-legend">Template</span></span>
        </div>
        <div>
            <p ng-if="$ctrl.errorMessage">{{$ctrl.errorMessage}}</p>
            <e-charts style="width: 1500px; height: 600px" class="echarts" ec-chart="$ctrl.chartObj" ec-config="$ctrl.graphConfig" ec-option="$ctrl.graphOptions"></e-charts>
        </div>
    </div>
    <style type="text/css">
        .relationship-toolbar-label {
            padding-right: 10px;
        }

        .relationship-toolbar-showhide-label {
            padding-left: 10px;
        }
        .relationship-legend-bar {
            padding-bottom: 20px;
        }
        .relationship-legend-icon {
            width: 25px; height: 25px;
        }

        .relationship-legend {
            font-family: "Sans-serif";
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            color: rgb(51, 51, 51);
            padding-left: 10px;
            padding-right: 30px;
        }
    </style>
</div>